* {
  box-sizing: border-box;
}

body {
    color: #fff;
    padding-top: 50px;
    background-color: #373B44;
    font-weight: 500;
    font-family: 'HelveticaNeue';
}

section:nth-child(even) {
    /*background-color: #FE4B74;*/
    background-color: #330000;
}


ul.nav {
    padding-right: 20px;
}

#main-nav {
    opacity: 0.95;
}

#main-nav a {
    color: black;
    font-size: 2rem;
}

section {
    height: 100vh;
    width: 100%;
    display: table;
    text-shadow: 2px 2px 2px #000;
}

header {
    height: 100vh;
    display: table;
    width: 100%;
    text-shadow: 2px 2px 2px #000;
}

h1 {
    font-size: 10rem;
}

footer {
    height: 5vh;
    display: table;
    width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

#portfolio div {
    vertical-align: middle;
}

.port {
    width: 80%;
    margin 0 auto;
}

.thumbnail {
    max-width: 300px;
    margin: 10px auto;
}
