* {
  box-sizing: border-box;
}

body {
    color: #fff;
    padding-top: 50px;
    background-color: #373B44;
    font-weight: 500;
    font-family: 'HelveticaNeue';
}

section:nth-child(even) {
    background-color: #FE4B74;
    color: black;
}


ul.nav {
    padding-right: 20px;
}

#main-nav {
    opacity: 0.95;
}

#main-nav a {
    color: black;
    font-size: 2rem;
}

section {
    height: 100vh;
    width: 100%;
    display: table;
}

header {
    height: 100vh;
    display: table;
    width: 100%;
}

h1 {
    font-size: 10rem;
}

footer {
    height: 5vh;
    display: table;
    width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
}
